
meta(property="og:title" content="Vad #{person['name']} (SD) sagt:")
meta(property="og:description" content="#{quote}")
meta(property="og:locale" content="sv_SE")
meta(property="og:image" content="http://#{domain}/resources/images/persons/#{person['image']}")
meta(propetty="og:type" content="website")
meta(property="og:site_name" content="Vad SD sagt")
meta(property="og:url" content="http://#{domain}/#{id}")
meta(property="fb:app_id" content="540082882807142")