extends layout

block body
	div.page
		h1.header Publicerade citat
		div.body
			include ./includes/adminMenu.jade

			table(class="table table-striped")
				thead
					th Citat
					th Person / Titel
					th Datum
					th Sparat
					th *

				tbody
					each quote in quotes
						tr
							td
								small= quote['quote']
							td
								small=quote['name']
								br
								small=quote['position']
							td
								small= quote['quoteDate']
							td
								small= quote['formattedSubmitDate']
							td
								nobr
									a(class="btn btn-danger deleteQuote" data-qId="#{quote['quoteId']}")
										i(class="fa fa-trash")
									|  
									a(class="btn btn-success", href="/admin/quotes/#{quote['quoteId']}")
										i(class="fa fa-plus")
block addedJs
	script(src="/resources/js/quotes.js")

