extends layout

block body
	div(class="container-fluid quote")
		div.row
			h1.header Vad SD Sagt:
			div(class="body col-md-12")
				i(class="quoteMark fa fa-quote-left fa-5x")
				
				div(class="quoteText")
					p #{quote}

				div(class="container-fluid")
					div.row
						div(class="col-md-4")
							img(style='background-image: url("/resources/images/persons/#{person['image']}"); background-position: center center;' class='person')
						div(class="col-md-8 person")
							p
								i(class="fa fa-angle-double-right")
								|  #{person['name']}, #{person['position']}
					div.row
						div(class="col-md-12 comment")
							| #{comment}


		div.row
			div(class="col-md-12 footer")
				div.share
					i(class="shareIcon fa fa-facebook fa-2x")
					i(class="shareIcon fa fa-twitter fa-2x")
					i(class="shareIcon fa fa-link fa-2x")	
				div.info
					span.date #{quoteDate}
					span.source
						| Källa:  
						| #{source}
						// a(href="https://twitter.com/kentekeroth/status/674320508184305664", target="_blank") https://twitter.com/kentekeroth/status/674320508184305664

	div.nextQuote
		a(href="#", class="btn btn-lg btn-primary") Vad har SD sagt mer?